<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
  <title>{% block title %}{% endblock title %} | IFHEPL</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9810924620901406"
    crossorigin="anonymous"></script>
  <meta name="description"
    content="We at IFHE Pvt Ltd aim to empower every village man, woman, and child in ways that make them robust, healthier, and financially independent by bringing them access to all the essential amenities at their convenience that would help them focus on important parts of their life and enjoy the socio-cultural developments in the community, without having to worry over other trivial things.">
  <meta name="keywords"
    content="KISAN CARD, HEALTH CARD, Membership Card, IFHEPL, ifhepl, ifhepl.in, ifhepl.in patna, www.ifhepl.in, IFHE Pvt Ltd, IFHE. Pvt. Ltd., IFHEPL Patna, ifhepl patna, IFHEPL Kisan Card, IFHEPL Health Card, ifhepl health card, ifhepl kisan card">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/images/favicon/site.webmanifest">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <meta property="og:title" content="{% block ogtitle %}{% endblock ogtitle %} | IFHEPL" />
  <meta property="og:description"
    content="We at IFHE Pvt. Ltd aim to empower every village man, woman, and child in ways that make them robust, healthier, and financially independent by bringing them access to all the essential amenities at their convenience that would help them focus on important parts of their life and enjoy the socio-cultural developments in the community, without having to worry over other trivial things." />
  <meta property="og:url" content="https://ifhepl.in/{% block ogurl %}{% endblock ogurl %}" />
  <meta property="og:type" content="website" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3T1G15R267"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3T1G15R267');
  </script>
  <meta name="author" content="IFHE PVT LTD">
  <link href="/static/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <link href="/static/styles/owl.carousel.min.css" rel="stylesheet" type="text/css" media="all">
  <script src="/static/scripts/jquery-3.5.1.slim.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style type="text/css">
    a {
      text-decoration: none !important;
    }
    .btn-sub{
      border: 0;
      background-color: #261C2C;
      color: white;
      padding: 10px 20px;
      font-size: 1.25rem;
      border-radius: 25px;
    }
    .btn-sub:hover {
      background-color: #381949;
    }

    #loading {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #fff url('/static/images/loader.gif') no-repeat center center;
      z-index: 99999;
    }

    #loading-image {
      position: absolute;
      top: 100px;
      left: 240px;
      z-index: 10 0;
    }
  </style>
  {% block style %}{% endblock style %}
</head>

<body id="top" onload="myFunction()">
  <div id="loading"></div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <header id="header" class="d-flex justify-content-center align-item-center hoc clear">
      <!-- ################################################################################################ -->
      <div class="row">
        <div class="header-logo col-md-2 d-flex justify-content-center align-item-center">
          <a href="/"><img src="/static/images/logo/logo.png" style="max-height: 70px;" alt=""></a>
        </div>
        <div class="header-title col-md-10 d-flex justify-content-center align-item-center">
          <h2 class="clear" style="color: #092032; font-weight: 900; font-size: 2.6rem; padding-top: 5px;"><span style="color: #bc1616;">I</span>ndie <span style="color: #bc1616;">F</span>eeder <span style="color: #bc1616;">H</span>aleness & <span style="color: #bc1616;">E</span>rudition <span style="color: #bc1616;">P</span>rivate <span style="color: #bc1616;">L</span>imited</h2>
        </div>
      </div>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1" style="background-color: #261C2C">
    <div class="hoc clear">
      <!-- ################################################################################################ -->
      <nav id="mainav">
        <ul class="clear d-flex justify-content-center">
          <li class=""><a href="/">Home</a></li>
          <li><a href="/career">Careers</a>
          <li><a href="/associate-partner">Associate Partner</a>
          </li>
          <li><a href="javascript:void(0);" class="drop">Vendor Registration</a>
            <ul>
              <li><a href="/vendor-registration">Apply Now</a></li>
              <li><a href="/verify-vendor">Verify Vendor</a></li>
            </ul>
          </li>
          <li><a href="javascript:void(0)" class="drop">Cards</a>
            <ul>
              <li><a href="javascript:void(0);" class="drop">Membership</a>
                <ul>
                  <li><a href="/membership">Apply Now</a></li>
                  <li><a href="/verify-membership">Verify Card</a></li>
                </ul>
              </li>
              <li><a class="drop" href="/card/Health-Card">Health Cards</a>
                <ul>
                  <li><a href="/card/Health-Card/apply">Apply Now</a></li>
                  <li><a href="/verify-health">Verify Card</a></li>
                </ul>
              </li>
              <li><a class="drop" href="/card/Kisan-Card">Kisan Card</a>
                <ul>
                  <li><a href="/card/Kisan-Card/apply">Apply Now</a></li>
                  <li><a href="/verify-kisan">Verify Card</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="javascript:void(0);" class="drop">Notice</a>
            <ul>
              <li><a href="/notice/rules_regulation">Rules & Regulation</a></li>
              <li><a href="/notice/academic_notice">Academic Notice</a></li>
              <li><a href="/notice/administrative_notice">Administrative Notice</a></li>
              <li><a href="/notice/requirement_notice">Requirement Notice</a></li>
            </ul>
          </li>
          <li><a class="drop" href="/about-us">About Us</a>
            <ul>
              <!-- <li><a href="javascript:void(0);">Our Mission</a></li>
              <li><a href="javascript:void(0);">Our Vision</a></li>
              <li><a href="javascript:void(0);">How we started</a></li> -->
              <li><a href="/gallery">Our gallery</a></li>
              <li><a href="javascript:void(0);" class="drop">Project</a>
                <ul>
                  <li><a href="/comingsoon">Health Security</a></li>
                  <li><a href="/comingsoon">Kisan Financial Help</a></li>
                  <li><a href="/comingsoon">Education Skill Training</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/reach-us">Reach Us</a></li>
          {% if user.is_authenticated %}
          {% if user.username|slice:":4" == "IFHE" %}
              <li><a href="javascript:void(0);" class="drop">{{user.username}}</a>
          {% else %}
              <li><a href="javascript:void(0);" class="drop">{{user.first_name}}</a>
          {% endif %}
            <ul>
              {% if user.username|slice:":8" == "IFHEPLE1" %}
              <li><a href="/profile">My Profile</a></li>
              <li><a href="/attendance">Attendance</a></li>
              {% elif user.username|slice:":8" != "IFHEPLE1" %}
              <li><a href="/complete_profile">Complete Profile</a></li>
              {% endif %}
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
  </div>
  {% if messages %}
  {% for message in messages %}
  <div{% if message.tags %} class="alert {{ message.tags }} text-center" {% endif %}>{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% block body %}{% endblock body %}

    <div class="wrapper row4" style="background-color: #261C2C;">
      <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_quarter first">
          <h1 class="logoname clear"><a href="/"><img src="/static/images/logo/logo-w.png" alt=""></a></h1>
          <h5 class="logoname clear">Indie Feeder Haleness & Erudition Private Limited</h5>
          <!-- <p class="btmspace-30">Since our company's establishment in the year 2016, we have continued to expand organically in the health, agriculture, finance, and education sector with the help of [<a
            href="/about-us">&hellip;</a>]</p> -->
            <ul class="faico clear">
              <li><a target="_blank" class="faicon-facebook" href="https://www.facebook.com/ifhepl"><i
                    class="fab fa-facebook"></i></a></li>
              <li><a target="_blank" class="faicon-instagram" href="https://www.instagram.com/ifhepl/"><i
                    class="fab fa-instagram"></i></a></li>
              <li><a target="_blank" class="faicon-youtube"
                  href="https://www.youtube.com/channel/UCFbNdasGGboTLJIDPAD5-4A/featured"><i
                    class="fab fa-youtube"></i></a></li>
              <li><a target="_blank" class="faicon-linkedin" href="https://t.me/Ifhepl"><i
                    class="fab fa-telegram"></i></a></li>
            </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Quick Links</h6>
          <ul class="nospace linklist">
            <li><a href="/membership">Membership</a></li>
            <li><a href="/career">Career</a></li>
            <li><a href="about-us">About Us</a></li>
            <li><a href="/reach-us">Reach Us</a></li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Resources</h6>
          <ul class="nospace linklist">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/terms-and-condition">Terms and Condition</a></li>
            <li><a href="/refund-cancellation-policy">Refund and Cancellation Policy</a></li>
            <li><a href="/about-us">About Us</a></li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Contact Details</h6>
          <ul class="nospace linklist contact">
            <li><i class="fas fa-phone"></i><a href="tel:+918809861888">+91 88098 61888</a></li>
            <li><i class="far fa-envelope"></i> <a href="mailto:care@ifhepl.in">care@ifhepl.in</a></li>
          </ul>
          <h6 class="heading " style="padding-top: 40px;">Our Legal Information</h6>
          <ul class="nospace linklist">
            <li>GSTiN: 10AAGCI3136G1Z4</li>
            <li>CIN No: U80902BR2021PTC054121</li>
            <li>TAN No: PTNI01479C</li>
            <li>PAN No: AAGCI3136G</li>
          </ul>
        </div>
        <!-- ################################################################################################ -->
      </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="https://ifhepl.in">ifhepl.in</a></p>
        <p class="fl_right">
          <!-- Template by <a target="_blank" href="https://www.os-templates.com/"
          title="Free Website Templates">OS Templates</a> -->
        </p>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="/static/scripts/jquery.min.js"></script>
    <script src="/static/scripts/jquery.backtotop.js"></script>
    <script src="/static/scripts/jquery.mobilemenu.js"></script>
    <script src="/static/scripts/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <input type="hidden" id="msg" value="{{msg}}">
    <script>
      var preloader = document.getElementById("loading");
      function myFunction() {
        preloader.style.display = 'none';
      };
    </script>
    <script type="text/javascript">
      var msg = $("#msg").val()
      if (msg == "succ-msg-atn") {
        alert("Attendance submitted")
      }
      if (msg == "alert-msg-loc") {
        alert("Please allow permission for location")
      }
      if (msg == "err-msg-atn") {
        alert("Try Again!!!")
      }
      if (msg == "err-msg-login") {
        alert("Invalid credentials! Please try again")
      }
      if (msg == "succ-msg-mem") {
        alert("Your application has been Submitted Successfully")
      }
      if (msg == "succ-msg-kis") {
        alert("Your application has been Submitted Successfully")
      }
      if (msg == "succ-msg-hel") {
        alert("Your application has been Submitted Successfully")
      }
      if (msg == "succ-msg-job") {
        alert("Your application has been Submitted Successfully")
      }
      if (msg == "succ-msg-ven") {
        alert("Your application has been Submitted Successfully")
      }
    </script>

    {% block script %}{% endblock script %}
</body>

</html>