{% extends 'extends/base.html' %}
{% block title %}404{% endblock title %}
{% block ogtitle %}404{% endblock ogtitle %}
{% block ogurl %}404{% endblock ogurl %}

{% block style %}
{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
  <div class="container" style="max-width: 60%;">
    <div class="my-2 text-center">
      <h1 style="font-size: 50px; font-family: Gilroy_Bold">404</h1>
      <h3 style="color: black; font-family: Gilroy_Bold">Page not found</h3>
      <h5>the page you are looking for is not found.</h5>
      <p style="color: black">
          <a href="/"> Click here</a> to go to the homepage
        </p>
    </div>
  </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}