{% extends 'extends/base.html' %}
{% block title %}500{% endblock title %}
{% block ogtitle %}500{% endblock ogtitle %}
{% block ogurl %}500{% endblock ogurl %}
{% block style %}

{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
  <div class="container" style="max-width: 60%;">
    <div class="my-2 text-center">
      <h1 style="font-size: 50px; font-family: Gilroy_Bold">500</h1>
      <h3 style="color: black; font-family: Gilroy_Bold">Internal Server Error</h3>
      <h5>Website is Under Maintenance</h5>
      <p style="color: black">
          <a href="/"> Click here</a> to go to the homepage
        </p>
    </div>
  </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}