{% extends 'extends/base.html' %}
{% block title %}About Us{% endblock title %}

{% block ogtitle %}About Us{% endblock ogtitle %}

{% block ogurl %}about-us{% endblock ogurl %}
{% block style %}

{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
    <div class="container" style="max-width: 60%;">
        <div class="my-2 text-center">
            <h2 style="color: red; font-weight: 900;"> About Us</h2>
        </div>
        <div class="my-2">
            <p class="pt-5">Since our company's establishment in the year 2016, we have continued to expand organically
                in the health, agriculture, finance, and education sector with the help of dynamic communities, clubs,
                and services. We currently operate in Karnataka, Odisha, Punjab, West Bengal, Madhya Pradesh, Jharkhand,
                Uttar Pradesh, and Bihar and are working incessantly on expanding to the other states.</p>
            <p>We at IFHE Pvt. Ltd aim to empower every village man, woman, and child in ways that make them robust,
                healthier, and financially independent by bringing them access to all the essential amenities at their
                convenience that would help them focus on important parts of their life and enjoy the socio-cultural
                developments in the community, without having to worry over other trivial things.</p>
        </div>
        <div class="my-2 text-center">
            <img src="/static/images/ab-1.png" alt="">
        </div>
        <div class="my-2">
            <p class="pt-3">We offer our services in various fields which primarily revolve around health, farming,
                finance, and the education sector. We for instance offer Health Card, Kisan Card, and Membership Card.
                These cards bring in all the benefits and services available around the states, but for a relatively
                cheaper and generous price point than the rest of the industry, which any person with very low sources
                of income can easily afford. Registering with any or all of these cards automatically recognizes you as
                our IFHE member along with the unique benefits that each of the cards holds for itself already. The
                mission and vision of our company are to ultimately enable you such that you can create different
                opportunities for yourself instead of waiting indefinitely for them. </p>
            <h4 style="font-weight: 700;">BENEFITS OF HEALTH CARD :</h4>
            <p>
            <ol>
                <li>Our organization makes this Health Card at lowest price. Only Rs119.</li>
                <li>With this card, you can get up to 40% discount on the treatment of diseases in all the hospitals
                    associated with us.</li>
                <li>JOIN US WITH THIS CARD, YOU CAN GET UP TO 40% DISCOUNT ON MEDICAL. </li>
                <li>Through this card, our organization provides 24×7 Blood to the Cardholder when he needs blood.</li>
                <li>Through this card, health check-up is provided to the cardholder absolutely free of cost every three
                    months.</li>
                <li>Cardholders get up to 30% off at all Patholab associated with our organization.</li>
                <li>For Health related information, the card holders can call on the given toll free number and get
                    information from the trained doctor. </li>
                <li>Training of Home remedies / Primary remedies is provided free of cost to the cardholders by our
                    experts time to time.</li>
            </ol>
            </p>
            <h4 style="font-weight: 700;">BENEFITS OF KISAN CARD :</h4>
            <p>
            <ol>
                <li>our organization makes this kisan card at lowest price only Rs. 119</li>
                <li>with this card, cardholders can get upto 20% off on purchasing fertilizer at all agricultural shop
                    associated with our organization.</li>
                <li>cardholders get upto 25% off at purchasing agricultural equipments in agricultural shop associated
                    with our organization.</li>
                <li>our organization provides crop insurance to the cardholders. </li>
                <li>the Agricultural training is done free of cost to the farmers by the experts related to farming time
                    to time.</li>
                <li>our organization provides upto 20% off on purchase of crop-wise pesticides to cardholders.</li>
                <li>our organization provides loan to farmers upto 10,000 rupees at the time of harvest.</li>
            </ol>
            </p>
            <p>Our valued card-holders no longer need to be dependent on frivolous money lenders for their capital needs
                and with their combined bargaining power, sell produce at far better prices than the market. By using
                our available courses on various practical tools available, every person can empower themselves and save
                tons of cost by cutting unnecessary expenses on outsourcing these to the third party and instead even
                use this as a side business for an extra income.</p>
            <p>"A healthy social life is found only when, in the mirror of each soul, the whole community finds its
                reflection, and when, in the whole community, the virtue of each one is living." - Rudolf Steiner</p>
            <p>IFHE Pvt. Ltd has always been very encouraging of the development of the community for farmers in every
                way possible. These clubs, in many years of operations, have been tested over time and have turned out
                to be a very strong driving force in the village projects. These clubs are where farmers from all the
                areas visit and discuss various day-to-day activities to be performed in the community. They have also
                become a source of financial security for the community, a safety net to which they can fall in any case
                of adversity.</p>
            <p>Our company collaborates with various agricultural societies to bring the best scientific knowledge of
                crop plantation and provide regular guidance till the rearing is done. We constantly keep in touch with
                various farmer groups to improve yields by applying the best practices in agriculture.</p>
            <p>With our various community activities and services, we aim to establish various clubs which would help
                break every kind of social barrier and dismantle the patriarchal caste divisions, therefore, helping
                grow the village economy and the mutual growth which originates from their success.</p>
            <h4 style="font-weight: 700;">OUR COURSES:</h4>
            <p>We offer a wide range of courses available at your disposal, be it a course on beautician or tailoring, a
                boot camp with Tally, or education skill training,f we have got you covered. With the ultimate objective
                of the upliftment of the society with our quality tools of education, we aim to make very little and
                only sustainable profits through our courses, which makes our courses cheaper yet efficient than any
                other courses out there in the market. We believe in the concept of shared growth and we are constantly
                working with this inclination since our inception five years ago!</p>
            <p>Our courses range from various fields and are well equipped to train you with the needs of the modern and
                ever-changing society. They have built-in tools and practice exercises by which you can test your
                understanding of the concepts as you complete your sessions.</p>
            <h4 style="font-weight: 700;">VISION:</h4>
            <p>At IFHE Pvt. Ltd, we have set our mission to establish ecologically and economically sustainable models
                of agriculture, help farmers to organize themselves to improve their livelihoods. To empower them with
                the right tools and the digital services that can help them ease their life and get connected globally
                to the world and decipher the power of technology and realize their rights and where they stand with the
                fast pacing world. Our mission is to make every person financially independent by bringing down more
                useful courses to learn new skills, at the bare minimum than the industry so that it is affordable to
                each and every individual easily. These added skills can always pave the way to new paths of income and
                help improve living standards.</p>
            <h4 style="font-weight: 700;">MISSION:</h4>
            <p>We have plans to reach out to 50 thousand farmers directly and 5 lakh farmers indirectly in the next five
                years (2021-2026), by working with them to establish sustainable models in agriculture and fair
                marketing models in six states of India. By doing so, we believe that agriculture productivity can be
                increased by 10 % and farmers’ incomes by 15 % which approximately translates to Rs. 5000 per family.
            </p>
            <p>To improve the quality of life of farming communities by promoting environmentally safe and sustainable
                methods that would enhance the quality and quantity of crop yields especially in tribal and dryland
                areas. </p>
            <p>To enhance the participation of farmers, both women and men, in all processes of problem analysis,
                technology development, evaluation, adoption, and extension leading to food security and self-reliance
                among farmers and rural communities.</p>
            <p>To facilitate community access and control over natural resources and to build institutions and coalitions at different levels for strengthening their bargaining power with markets and governments, which focus on empowerment of marginalized sections like Women, Dalits, Adivasis, and Minorities.</p>
            <p>To develop a Sustainable Agriculture Resource Network that promotes sharing of knowledge, material, and human resources. To serve as a repository for documenting, collecting, storing, collating, and disseminating information/success stories from different sources on sustainable agriculture.</p>
            <p>Understand the role of agriculture in contributing to climate change and developing sustainable agriculture practices which can help in mitigating and adapting to climate change.</p>
            <p>Establish and incubate Farmer Producer Organisations, Community Enterprises and promote entrepreneurial skills in rural areas.</p>
        </div>
    </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}