{% extends 'extends/base.html' %}
{% for job in jobs %}
{% block title %}{{job.title}}{% endblock title %}
{% block ogtitle %}{{job.title}}{% endblock ogtitle %}
{% endfor %}
{% block ogurl %}{% endblock ogurl %}
{% block style %}
<style>
  .btn-sub{
    border: 0;
    background-color: #261C2C;
    color: white;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 25px;
  }
  .btn-sub:hover {
    background-color: #381949;
  }
  .container-job{
    max-width: 80% !important;
  }
</style>
{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
  <div class="container container-job" style="">
    <div class="my-4 text-center">
      <h3>Applying for: <strong style="color: red;"> {{jobs.title}}</strong></h3>
    </div>
    <form id="msform" method="POST" action="/job_submit" enctype="multipart/form-data"> {% csrf_token %}
      <input type="hidden" name="applied_for" value="{{jobs.slug}}">
      <div class="mb-3 row">
        <div class="col-md-3">
          <label for="name" class="form-label">Name <span style="color: red;">*</span></label>
        </div>
        <div class="col-md-9">
          <input type="text" name="name" class="form-control" id="name" aria-describedby="name" required>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-3">
          <label for="dob" class="form-label">Date of Birth <span style="color: red;">*</span></label>
        </div>
        <div class="col-md-9">
          <input type="date" name="dob" class="form-control" id="dob" aria-describedby="dob" required>
        </div>
      </div>
      <!-- <div class="row"> -->
      <div class="mb-3 row">
        <div class="col-md-3">
          <label for="mob" class="form-label">Mobile No. <span style="color: red;">*</span></label>
        </div>
        <div class="col-md-9">
          <input type="tel" maxlength="10" minlength="10" name="mobile_number" class="form-control" id="mob"
            aria-describedby="mob">
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-3">
          <label for="email" class="form-label">Email ID <span style="color: red;">*</span></label>
        </div>
        <div class="col-md-9">
          <input type="email" class="form-control" name="email" id="email" aria-describedby="email" required>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-2 mb-3">
          <button type="submit" class="btn-sub">Submit</button>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <h5> Already applied? <a href="/login">	&nbsp; <span style="color: red"> Click Here</span></a></h5>
        </div>
      </div>
    </form>
  </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}