{% extends 'extends/base.html' %}
{% block title %}Confirmation{% endblock title %}


{% block ogtitle %}Confirmation{% endblock ogtitle %}

{% block style %}
<style>
  .btn-sub{
    border: 0;
    background-color: #261C2C;
    color: white;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 25px;
  }
  .btn-sub:hover {
    background-color: #381949;
  }
</style>
{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
  <div class="container" style="max-width: 60%;">
    <div class="my-2 text-center">
      {% if data_ref %}
      <img src="/static/images/icon_confirmation.gif" alt="">
      <h3>Membership Request has been Submitted</h3>
      {% for data in data_ref  %}
      <h5 class="my-2">Membership Reference No.: <span style="color: red;"> {{data.reference_number}}</span></h5>
      {% if data.order_id != "CASH" %}
      <a class="btn btn-primary" href="/pay/{{data.order_id}}">Pay Online</a>
      {% endif %}
      {% endfor %}
      {% endif %}

      {% if data_ref_vendor %}
      <img src="/static/images/icon_confirmation.gif" alt="">
      <h3>Membership Request has been Submitted</h3>
      <h5 class="my-2">Membership Reference No.: <span style="color: red;"> {{data_ref_vendor.reference_number}}</span></h5>
      {% if data_ref_vendor.order_id != "CASH" %}
      <a class="btn btn-primary" href="/pay/{{data_ref_vendor.order_id}}">Pay Online</a>
      {% endif %}
      {% endif %}
      
      {% if data_ref_job %}
      <img src="/static/images/icon_confirmation.gif" alt="">
      <h3>Job Application for <strong>{{data_ref_job.applied_for}}</strong> has been Submitted</h3>
      <h5 class="my-2">Job Reference No.: <span style="color: red;"> {{data_ref_job.reference_number}}</span></h5>
      {% if data_ref_job.completed and not data_ref_job.paid %}
      <h4 style="color: red;"><strong>To finish your job application, make a payment.</strong></h4>
      <a class="btn btn-primary" href="/pay/{{data_ref_job.order_id}}">Pay Online</a>
      {% elif not data_ref_job.completed and not user.is_authenticated %}
      <a class="btn btn-primary" href="/login">Login and Complete Profile</a>
      {% elif not data_ref_job.completed and user.is_authenticated %}
      <a class="btn btn-primary" href="/complete_profile">Complete Profile</a>
      {% endif %}
      {% endif %}
      
      {% if data_ref_kisan %}
      <img src="/static/images/icon_confirmation.gif" alt="">
      <h3>Kisan Card Application has been Submitted</h3>
      {% for data_kisan in data_ref_kisan  %}
      <h5 class="my-2">Kisan Card Reference No.: <span style="color: red;"> {{data_kisan.reference_number}}</span></h5>
      {% if data.order_id != "CASH" %}
      <a class="btn btn-primary" href="/pay/{{data_kisan.order_id}}">Pay Online</a>
      {% endif %}
      {% endfor %}
      {% endif %}
      
      {% if data_ref_health %}
      <img src="/static/images/icon_confirmation.gif" alt="">
      <h3>Health Card Application has been Submitted</h3>
      {% for data_health in data_ref_health  %}
      <h5 class="my-2">Health Card Reference No.: <span style="color: red;"> {{data_health.reference_number}}</span></h5>
      {% if data.order_id != "CASH" %}
      <a class="btn btn-primary" href="/pay/{{data_health.order_id}}">Pay Online</a>
      {% endif %}
      {% endfor %}
      {% endif %}
      
      {% if received_data %}
      <img src="/static/images/icon_confirmation.gif" alt="">
      <h3>Thank you, your payment has been successfull.<br>A confirmation email has been sent to {{received_data.email}} </h3>
      <div class="container px-2 py-3" style="max-width: 50%; background-color: transparent; box-shadow: inset;">
        <table style="text-align: left;">
          <tr>
            <td>Order ID:</td>
            <td>{{received_data.order_id}}</td>
          </tr>
          <tr>
            <td>Payment ID:</td>
            <td>{{received_data.id}}</td>
          </tr>
          <tr>
            <td>Transaction Date:</td>
            <td>{{received_data.transaction_date}}</td>
          </tr>
          <tr>
            <td>Payment Status:</td>
            <td>Confirmed</td>
          </tr>
        </table>
        {% if received_data.type == "JOB" %}
        <a href="/print/{{received_data.order_id}}" class="btn-sub">Print</a>
        {% endif %}
      </div>
      {% endif %}

      {% if paid %}
      <img src="/static/images/icon_confirmation.gif" alt="">
      <h3>Thank you, your payment has already paid.<br>A confirmation email has been already sent to {{paid.email}} </h3>
      <div class="container px-2 py-3" style="max-width: 50%; background-color: transparent; box-shadow: inset;">
        <table style="text-align: left;">
          <tr>
            <td>Order ID:</td>
            <td>{{paid.order_id}}</td>
          </tr>
          <tr>
            <td>Transaction ID:</td>
            <td>{{paid.transaction_id}}</td>
          </tr>
          <tr>
            <td>Transaction Date:</td>
            <td>{{paid.transaction_date}}</td>
          </tr>
          <tr>
            <td>Bank Transaction ID:</td>
            <td>{{paid.bank_transaction_id}}</td>
          </tr>
          <tr>
            <td>Payment Status:</td>
            <td>{{paid.payment_status}}</td>
          </tr>
        </table>
        <a href="/print/{{paid.order_id}}" class="btn-sub">Print</a>
      </div>
      {% endif %}
      
      {% if regenerate %}
      <img src="/static/images/alert_icon.png" alt="">
      <h3>Something Error, please try again.</h3>
      <div class="container px-2 py-3" style="max-width: 50%; background-color: transparent; box-shadow: inset;">
        <table style="text-align: left;">
          <tr>
            <td>Order ID:</td>
            <td>{{regenerate.order_id}}</td>
          </tr>
          <tr>
            <td>Payment Status:</td>
            <td>Failed</td>
          </tr>
        </table>
      </div>
      {% if not regenerate.paid  %}
      <a class="btn btn-primary my-2" href="/pay/{{regenerate.order_id}}">Pay Again</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}