{% extends 'extends/base.html' %}
{% block title %}Kisan Card{% endblock title %}


{% block ogtitle %}Kisan Card{% endblock ogtitle %}

{% block ogurl %}Kisan-Card{% endblock ogurl %}
{% block style %}
<style>
    .btn-sub {
    border: 0;
    background-color: #261C2C;
    color: white;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 25px;
  }

  .btn-sub:hover {
    background-color: #381949;
    color: white;
  }
</style>
{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
    <div class="container" style="max-width: 60%;">
        <div class="my-2 text-center">
            <h2 style="color: red; font-weight: 900;"> Kisan card</h2>
        </div>
        <div class="my-5 row">
            <div class="col-md">
                <img src="/static/images/card/card-3.png" alt="">
            </div>
            <div class="col-md">
                <img src="/static/images/card/card-3a.png" alt="">
            </div>
        </div>
        <div class="my-2">
            
            <p><strong> किसान कार्ड के फायदे। ( Benefits of Kisan Card ) :</strong></p>
            <ol>

            <li> हमारी संस्था इस किसान कार्ड को सबसे कम कीमत में बनाती है। मात्र 119 रुपये। ( our organization makes this kisan card at lowest price. only Rs119.)</li>

            <li> इस कार्ड से  कार्डधारकों को हमारे संगठन से जुड़े सभी कृषि दुकान से  उर्वरक खरीदने पर 20% तक की छूट प्राप्त कर सकते हैं।  ( with this card , cardholders can get upto 20% off on purchasing fertilizer at all agricultural shop associated with our organization. )</li>

            <li> कार्डधारकों को हमारे संगठन से जुड़ी कृषि दुकान में कृषि उपकरण खरीदने पर 25% तक की छूट मिलती है। ( cardholders get upto 25% off at purchasing agricultural equipments in agricultural shop associated with our organization. )</li>

            <li> हमारी संगठन कार्डधारकों को फसल बीमा प्रदान कराती है। ( our organization provides crop insurance to the cardholders. )</li>

            <li> समय-समय पर कृषि से जुड़े विशेषज्ञों द्वारा किसानों को नि:शुल्क कृषि प्रशिक्षण दिया जाता है। ( the Agricultural training is done free of cost to the farmers by the experts related to farming time to time. )</li>

            <li>  हमारी संगठन कार्डधारकों को फसल-वार कीटनाशकों की खरीद पर 20% तक की छूट प्रदान करता है। ( our organization provides upto 20% off on purchase of crop-wise pesticides to cardholders. )</li>

            <li> हमारी संगठन किसानों को फसल के समय 10,000 रुपये तक का ऋण प्रदान करती है। ( our organization provides loan to farmers upto 10,000 rupees   at the time of harvest.)</li>
            </ol>
        </div>
        <a href="/card/Kisan-Card/apply" class="btn-sub">Apply Now</a>

    </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}