{% extends 'extends/base.html' %}
{% block title %}{{profile.0.name}}{% endblock title %}

{% block ogtitle %}{{profile.0.name}}{% endblock ogtitle %}
{% block ogurl %}profile{% endblock ogurl %}
{% block style %}
<style>
  .prof-image,
  .prof-name {
    display: flex;
    justify-content: center;
  }

  .prof-image img {
    max-width: 300px;
    border-radius: 50%;
  }
</style>
{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
  <div class="container">
    <div class="my-2">
      {% for prof in profile %}
      <div class="prof-image">
        <img src="/media/{{prof.image}}" alt="">
      </div>
      <div class="prof-name">
        <h4 class="logoname my-3">{{prof.name}}</h4>
      </div>
      <div class="">
        <h4 class="text-center">Employee ID: {{prof.emmloyeeid}}</h4>
        <h4 class="mt-3 text-center">(<strong>{{prof.designation}}</strong>)</h4> <br>
      </div>
      <hr class="py-2">
      <div class="row">
        <div class="col-md-6 text-center">
          <h4>Email ID: {{prof.email}}</h4>
        </div>
        <div class="col-md-6 text-center">
          <h4>Phone Number: {{prof.phone_number}}</h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 text-center">
          <h4>Gender: {{prof.gender}}</h4>
        </div>
        <div class="col-md-6 text-center">
          <h4>Blood Group: {{prof.bloodgroup}}</h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 text-center">
          <h4>Date of Birth: {{prof.dob}}</h4>
        </div>
        <div class="col-md-6 text-center">
          <h4>Job Location: {{prof.job_location}}</h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md text-center">
          <h4>Address: {{prof.Address}}</h4>
        </div>
      </div>
      <hr class="py-2">
      <h3 style="color: red !important;" class="logoname text-center">Cash Mode</h3>
      <div class="row py-3">
        <h3 class="logoname">Current Month Card Created</h3>
        <div class="col-md-4 text-center card py-2">
          <h4>Kisan card Created: {{prof.cash_mode_current_month_kisan_card_created}}</h4>
          <a style="color: red;" href="/card/Kisan-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Health Card Created: {{prof.cash_mode_current_month_health_card_created}}</h4>
          <a style="color: red;" href="/card/Health-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Membership Card Created: {{prof.cash_mode_current_month_membership_card_created}}</h4>
          <a style="color: red;" href="/membership">Apply more</a>
        </div>
      </div>
      <div class="row py-3">
        <h3 class="logoname">Previous Month Card Created</h3>
        <div class="col-md-4 text-center card py-2">
          <h4>Kisan card Created: {{prof.cash_mode_previous_month_kisan_card_created}}</h4>
          <a style="color: red;" href="/card/Kisan-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Health Card Created: {{prof.cash_mode_previous_month_health_card_created}}</h4>
          <a style="color: red;" href="/card/Health-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Membership Card Created: {{prof.cash_mode_previous_month_membership_card_created}}</h4>
          <a style="color: red;" href="/membership">Apply more</a>
        </div>
      </div>
      <div class="row py-3">
        <h3 class="logoname">Total Card Created</h3>
        <div class="col-md-4 text-center card py-2">
          <h4>Kisan card Created: {{prof.cash_mode_total_kisan_card_created}}</h4>
          <a style="color: red;" href="/card/Kisan-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Health Card Created: {{prof.cash_mode_total_health_card_created}}</h4>
          <a style="color: red;" href="/card/Health-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Membership Card Created: {{prof.cash_mode_total_membership_card_created}}</h4>
          <a style="color: red;" href="/membership">Apply more</a>
        </div>
      </div>
      <hr class="py-2">
      <div class="row py-3">
        <h3 class="logoname">Current Month Card Created</h3>
        <div class="col-md-4 text-center card py-2">
          <h4>Kisan card Created: {{prof.current_month_kisan_card_created}}</h4>
          <a style="color: red;" href="/card/Kisan-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Health Card Created: {{prof.current_month_health_card_created}}</h4>
          <a style="color: red;" href="/card/Health-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Membership Card Created: {{prof.current_month_membership_card_created}}</h4>
          <a style="color: red;" href="/membership">Apply more</a>
        </div>
      </div>
      <div class="row py-3">
        <h3 class="logoname">Previous Month Card Created</h3>
        <div class="col-md-4 text-center card py-2">
          <h4>Kisan card Created: {{prof.previous_month_kisan_card_created}}</h4>
          <a style="color: red;" href="/card/Kisan-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Health Card Created: {{prof.previous_month_health_card_created}}</h4>
          <a style="color: red;" href="/card/Health-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Membership Card Created: {{prof.previous_month_membership_card_created}}</h4>
          <a style="color: red;" href="/membership">Apply more</a>
        </div>
      </div>
      <div class="row py-3">
        <h3 class="logoname">Total Card Created</h3>
        <div class="col-md-4 text-center card py-2">
          <h4>Kisan card Created: {{prof.total_kisan_card_created}}</h4>
          <a style="color: red;" href="/card/Kisan-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Health Card Created: {{prof.total_health_card_created}}</h4>
          <a style="color: red;" href="/card/Health-Card/apply">Apply more</a>
        </div>
        <div class="col-md-4 text-center card py-2">
          <h4>Membership Card Created: {{prof.total_membership_card_created}}</h4>
          <a style="color: red;" href="/membership">Apply more</a>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}