{% extends 'extends/base.html' %}
{% block title %}Search Kisan Card{% endblock title %}


{% block ogtitle %}Search Kisan Card{% endblock ogtitle %}

{% block ogurl %}verify_kisan{% endblock ogurl %}
{% block style %}

{% endblock style %}
{% block body %}
<div class="row1" style="background-color: rgb(255, 255, 240);">
  <div class="container" style="max-width: 60%;">
    <div class="my-2 text-center">
      <form class="" action="verify_kisan/viewDetails" method="GET">
        <div class="row">
          <div class="col-md-3">
            <label for="exampleInputEmail1" class="form-label">Reference Number</label>

          </div>
          <div class="col-md-7">
            <input class="form-control me-2" name="query_reference" type="search" placeholder="Search" aria-label="Search">

          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-warning" type="submit">Check Status</button>
          </div>
        </div>
      </form>
      <h5 class="my-5">or</h5>
      <form class="" action="verify_kisan/viewDetails" method="GET">
        <div class="row">
          <div class="col-md-3">
            <label for="exampleInputEmail1" class="form-label">Kisan Card Number & <br>Date of Birth</label>
          </div>
          <div class="col-md-4">
            <input class="form-control me-2" name="query_card" type="search" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-md-3">
            <input class="form-control me-2" name="query_card_dob" type="date" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-success" type="submit">View Card</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% block script %}

{% endblock script %}
{% endblock body %}