{% extends 'extends/base.html' %}
{% block title %}Merchant Check Out Page{% endblock title %}

{% block body %}
<div class="container text-center">
    <h3>Please do not refresh this page...</h3>
</div>
<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{razorpay_key}}",
        amount: "{{order.amount}}", 
        currency: "INR",
        name: "{{order.name}}",
        description: "{{card_name}}",
        image: "https://ifhepl.in/static/images/logo/logo.png",
        order_id: "{{order.provider_order_id}}",
        callback_url: "{{callback_url}}",
        redirect: true,
        prefill: {
            "name": "{{card.name}}",
            "email": "{{card.email}}",
            "contact": "{{card.mobile_number}}"
        },
        notes: {
            "address": "{{card.district}}, {{card.state}}"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock %}