<div class="wrapper row3">
  <section id="team" class="hoc container clear">
    <div class="center btmspace-80">
      <h6 class="heading underline font-x2">Ridiculus mus duis sed</h6>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption class="heading">Jane Doe</figcaption>
          </figure>
          <em>Job Type Here</em>
          <p>Nulla etiam eget lacus sit amet eros tempus elementum vivamus ligula mauris blandit eu [<a
              href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_quarter">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption class="heading">John Doe</figcaption>
          </figure>
          <em>Job Type Here</em>
          <p>Phasellus congue dictum tortor maecenas eget erat eget nulla venenatis vehicula duis posuere [<a
              href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_quarter">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption class="heading">Janet Doe</figcaption>
          </figure>
          <em>Job Type Here</em>
          <p>Tellus vel fringilla auctor nisi arcu semper urna at congue lectus nisi ac neque in hac [<a
              href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
      <li class="one_quarter">
        <article>
          <figure><a class="imgover" href="#"><img src="images/demo/300x300.png" alt=""></a>
            <figcaption class="heading">Jamie Doe</figcaption>
          </figure>
          <em>Job Type Here</em>
          <p>Habitasse platea dictumst nulla facilisi nulla facilisi phasellus tincidunt est a tortor [<a
              href="#">&hellip;</a>]</p>
          <footer>
            <ul class="faico clear">
              <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
          </footer>
        </article>
      </li>
    </ul>
  </section>
</div>