<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Mailer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
  <!-- 
  <style rel="stylesheet" type="text/css">
    @media only screen and (max-width: 600px) {
      table table.table1 {
        width: 95% !important
      }

      table {
        width: 100% !important;
      }

      .column {
        width: 100% !important;
        display: block !important;
        text-align: center
      }
    }
  </style> -->

</head>

<body>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fffcec">
    <tr>
      <td height="138">
        <table class="table1" width="700" border="0" align="center" cellpadding="0" cellspacing="0"
          style="width:95% !important; padding: 10px 0;">
          <td>
            <img src="https://ifhepl.in\static\images\logo\logo.png" width="200" style="border:0;height:auto;padding: 10px;" /></a>
          </td>
          <td align="center">
            <span
              style="font-family: 'Fredoka One'; font-size: 52px; color: rgba(8,32,50,255);letter-spacing: 3px;">IFHE
              Pvt. Ltd.</span>
            <span style="color: #bd1616; font-weight: 600; font-size: 20px;">(Good Erudition, Sentient
              India)</span> <br>
            <hr color="#bd1616">
            <span style="font-size: 17px; ">302, Saraswati Chandra Bhawan, Industrial Estate Road,
              Kurji, Patna 800010 (INDIA)</span> <br>
            <hr color="#bd1616">
            <span style="font-weight: 800;font-size: 25px;"> Email ID: care@ifhepl.in | Mobile: 9142301115</span>
          </td>
          <td></td>
          <td></td>
        </table>
      </td>
    </tr>
  </table>
  <hr color="#bd1616" style="height:2px">
  <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff">
    <tr>
    <tr>
      <th height="25">&nbsp;</th>
    </tr>
    <tr>
      <td><strong><span style="font-family: 'Fira Sans', sans-serif; font-size:17px; color:#2c2a2b">Ref. No. :
            {{ref_no}}</span></strong></td>
            <td></td>
      <td align="right"><strong><span style="font-family: 'Fira Sans', sans-serif; font-size:17px; color:#2c2a2b">Date :
            {{offer_letter_date}}</span></strong>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="3" style="font-size: 30px; font-weight: 800;"><u>OFFER LETTER</u></td>
    </tr>
    <tr>
      <td colspan="3">
        <span style="font-family: 'Fira Sans', sans-serif; font-size:16px; line-height:150%; color:#2c2a2b">
          Dear Gaurav Shivam,<br />
          <br />
          It gives us great pleasure in inviting you join our company IFHE PVT. LTD. as one of its valuable
          members. We extend this offer and the opportunity it represents, with great confidence in your
          abilities. Your immediate manager will communicate. Details of your role and work responsibilities in
          the initial weeks of you joining IFHE PVT. LTD <br />
          We have great pleasure in making a formal offer to you to join our company in the capacity of
          <strong>{{post_name}}.</strong> <br>
          Your Training will be effective from {{training_from}} to {{training_to}}. Training Timing will be from
          {{training_time_from}} to {{training_time_to}}. <br>
          To be hired in this position , you have to follow some Terms & Conditions of our Company:- <br>
          <ol>
            <li><strong>Date of Joining :</strong> <br>Your appointment will be effective on your joining date which
              will
              be
              mentioned in joining letter. please contact us immediately if you require any alternative joining date.
              Change in joining date will be effective only if I confirmed by the company in writing. if we are unable
              to
              set an alternative date and if you fail to report to work on the decided joining date, this offer will be
              automatically
              withdrawn.</li>
            <li><strong>Remuneration and compensation :</strong> <br>The Monthly Starting Salary for this position is Rs
              15,000 (FIFTEEN THOUSAND RUPEES). inclusive Travelling allowance and other benefits. If you will do more
              than targate then company will pay you Extra Benefits. Your monthly salary will be paid to you within 10
              days of completion of month. And your Extra benefits or exclusive spent money will be paid you within 15
              days of completion of month. Whereas Your 1st Months’ salary will pay you within 15 days of completion of
              Month.</li>
            <li><strong>Place / Transfer :</strong> <br>Your Reporting place will be at ~~~~~~~~~~~~~~~~~. And working
              place will be ~~~~~~~~~~~~~~~~~~~~. But if you have to move away from Your location due to Company’s
              Project
              then you will have to go there. And if you will be Transferred, you will have to work in transferred
              location.</li>
            <li><strong>Work hours :</strong> <br> ( 09:00AM - 05:30PM ) In any condition, you have to report in office
              at
              09:00AM. You may be required to invest additional Hours of work when necessitated by business.</li>
            <li><strong>Leaves and Holidays :</strong> <br>Leaves and Holidays would be applicable as per the prevalent
              company policy. If you want to leave, you have to inform the company atleast one day earlier. Company can
              Reject your holiday if company continues to work on any project. And if you are late in coming To office
              due
              to any reason, you will inform your senior immediately / earlier.</li>
            <li><strong>Nature of work :</strong> <br>The nature of work and responsibilities will be assigned and
              explained to you by your senior From time to time. At present your role in the company will as a BLOCK
              DEVELOPMENT MANAGER. You have to achieve minimum 75% of explain target.</li>
            <li><strong>Promotions :</strong> <br>If you have been associated with the company for a long time and you
              keep working continuously on company’s project and achieving every target then you Will be promoted .</li>
            <li><strong>Attendance :</strong> <br> Attendence will have a great impact on your career. It will also help
              in promotion. Absence Will spoil your career. Less than 95 % presence will affect your salary.</li>
            <li><strong>Termination :</strong> <br>
              <ul>
                <li>During your tenure with us , should you intent to resign from the company during the probation
                  period
                  or anytime. Thereafter , you shall be required to provide a notice period atleast one (1) Month or
                  make
                  payment of your basic salary in notice period.</li>
                <li>The company reserves the right to terminate your services during the probation period without any
                  reason or without providing any notice of such termination. After completion of the probation period,
                  the company may terminate your services for y]convenience by providing a notice period of one (1)
                  month
                  and payment of basic salary …………………</li>
                <li>Please note that the detailed conditions regarding termination and notice period will be more
                  elaborately provided In the appointment letter which shall supersede this offer letter.</li>
              </ul>
            </li>
            <li><strong>Confidentiality :</strong> <br> Remuneration and compensation is highly confidential
              information.
              Irrespective of whether or not you accept this offer, You shall At all times maintain absolute
              confidentiality of the content of this offer as well as any information which was disclosed to you
              Pursuant
              to your discussions with the company , any disclosure of the contents of this offer to any third-party
              will
              be construed. As serious breach and the company may initiate appropriate legal action against you. <br>Any
              and all of the terms and conditions of service may be modified or change………………………………………………….</li>
            <li><strong>Standing Orders :</strong> <br> You will abide by the Standing Orders, rules & regulations and
              service condition that may be in force or application to the organization or are framed from time to time
              by
              the company.</li>
          </ol>
          <br>
          <strong>This is not a joining letter. Kindly submit a signed copy
            within 48 hours. For more Information kindly contact HR MANAGER of IFHE PVT. LTD.</strong> <br>
          <br />
          <br />
          <br />
          <br />
        </span>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td >
        <span style="font-family: 'Fira Sans', sans-serif; font-size:20px;"> <strong>
            Date:</strong></span> <br /> <br> <br>
        <span style="font-family: 'Fira Sans', sans-serif; font-size:20px;"> <strong>
          Place:</strong></span> <br /> <br>
        </span>
      </td>
      <td align="center">
        <span style="font-family: 'Fira Sans', sans-serif; font-size:20px;"> <strong>
            {{hr_manager_name}}</strong></span> <br />
        <span style="font-family: 'Fira Sans', sans-serif; font-size:18px;">HR Manager</span> <br><br>
        <span style="font-family: 'Fira Sans', sans-serif; font-size:22px; font-weight: 600;">IFHE Pvt Ltd</span> <br>
        </span>
      </td>
      <td align="center">
        <span>___________________________ <br></span>
        <span style="font-family: 'Fira Sans', sans-serif; font-size:20px;"> <strong> <br>
            {{candidate_name}}</strong></span> <br />
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2" height="25">&nbsp;</td>
    </tr>
    <tr>
      <!-- <td colspan="2">&nbsp;</td> -->
      <td colspan="3" height="5" bgcolor="#243665"></td>
    </tr>
  </table>
</body>

</html>