<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{doc.name}} | {{doc.applied_for}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
  <style>
    .btn-sub{
      border: 0;
      background-color: #261C2C;
      color: white;
      padding: 10px 20px;
      font-size: 1.25rem;
      border-radius: 25px;
    }
    .btn-sub:hover {
      background-color: #381949;
    }
  </style>

</head>

<body>
  <table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bgcolor="#fffcec">
    <tr>
      <td height="138">
        <table class="table1" width="700" border="0" align="center" cellpadding="0" cellspacing="0"
          style="width:95% !important; padding: 10px 0;">
          <td>
            <img src="https://ifhepl.in/static/images/logo/logo.png" width="150" style="border:0;height:auto;padding: 10px;" /></a>
          </td>
          <td align="center">
            <span
              style="font-family: 'Fredoka One'; font-size: 16px; color: rgba(8,32,50,255);letter-spacing: 3px;">Indie Feeder Haleness & Erudition Private Limited</span> <br>
            <span style="color: #bd1616; font-weight: 600; font-size: 15px;">(Good Erudition, Sentient
              India)</span> <br>
            <hr color="#bd1616">
            <span style="font-size: 14px; ">302, Saraswati Chandra Bhawan, Industrial Estate Road,
              Kurji, Patna 800010 (INDIA)</span> <br>
            <hr color="#bd1616">
            <span style="font-weight: 800;font-size: 20px;"> Email ID: care@ifhepl.in | Mobile: 9142301115</span>
          </td>
          <td></td>
          <td></td>
        </table>
      </td>
    </tr>
  </table>
  <hr color="#bd1616" width="100%" style="height:2px">
  <table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff">
    <tr>
    <tr>
      <!-- <th border="" height="25">&nbsp;</th> -->
    </tr>
    <tr>
      <!-- <td><strong><span style="font-family: 'Fira Sans', sans-serif; font-size:17px; color:#2c2a2b">Ref. No. :
            {{ref_no}}</span></strong></td>
            <td></td>
      <td align="right"><strong><span style="font-family: 'Fira Sans', sans-serif; font-size:17px; color:#2c2a2b">Date :
            {{offer_letter_date}}</span></strong>
      </td> -->
    </tr>
    <tr>
      <td align="center" colspan="4" style="font-size: 30px; padding: 5px 0; font-weight: 800;"><u>JOB APPLICATION - {{doc.applied_for}}</u></td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Name</strong></td>
      <td colspan="2" style="padding: 5px; ">{{doc.name}}</td>
      <td rowspan="5"><img src="/media/{{doc.photo}}" style="max-height: 150px;"></td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Email</strong></td>
      <td colspan="2" style="padding: 5px; ">{{doc.email}}</td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Date of Birth</strong></td>
      <td colspan="2" style="padding: 5px; ">{{doc.dob}}</td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Contact Number</strong></td>
      <td colspan="2" style="padding: 5px; ">{{doc.mobile_number}}</td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Alt. Contact No.</strong></td>
      <td colspan="2" style="padding: 5px; ">{{doc.alt_mobile_no}}</td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Father/Husband Name</strong></td>
      <td colspan="3" style="padding: 5px; ">{{doc.father_Husband_name}}</td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Mother Name</strong></td>
      <td style="padding: 5px; ">{{doc.mother_name}}</td>
      <td style="padding: 5px; "><strong>Category</strong></td>
      <td style="padding: 5px; ">{{doc.category}}</td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Disability</strong></td>
      <td style="padding: 5px; ">{{doc.disability}}</td>
      <td style="padding: 5px; "><strong>Aadhar Number</strong></td>
      <td style="padding: 5px; ">{{doc.aadhar_no}}</td>
    </tr>
    <tr>
      <td style="padding: 5px; "><strong>Pan Number</strong></td>
      <td style="padding: 5px; ">{{doc.pan_no}}</td>
      <td style="padding: 5px; "><strong>Blood group</strong></td>
      <td style="padding: 5px; ">{{doc.bloodgroup}}</td>
    </tr>
    <tr>
      <td colspan="4" style="padding: 5px; font-size: 25px;">
        <strong>Address</strong>
      </td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Village</td>
      <td  style="padding: 5px;">{{doc.village}}</td>
      <td  style="padding: 5px;">Post Office</td>
      <td  style="padding: 5px;">{{doc.po}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Police Station </td>
      <td  style="padding: 5px;">{{doc.ps}}</td>
      <td  style="padding: 5px;">Block</td>
      <td  style="padding: 5px;">{{doc.block}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">District </td>
      <td  style="padding: 5px;">{{doc.district}}</td>
      <td  style="padding: 5px;">State </td>
      <td  style="padding: 5px;">{{doc.state}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Pin Code </td>
      <td colspan="3" style="padding: 5px;">{{doc.pin_code}}</td>
    </tr>
    <tr>
      <td colspan="4" style="padding: 5px;font-size: 25px;">
        <strong>Educational Qualification: Matriculation</strong>
      </td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Board/University</td>
      <td colspan="3" style="padding: 5px;">{{doc.matriculation_board_university}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">School/Institute</td>
      <td colspan="3" style="padding: 5px;">{{doc.matriculation_school_institute}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Passing Year</td>
      <td style="padding: 5px;">{{doc.matriculation_passing_year}}</td>
      <td  style="padding: 5px;">Roll Number</td>
      <td style="padding: 5px;">{{doc.matriculation_roll_number}}</td>
    </tr>
    <tr>
      <td style="padding: 5px;">Marks</td>
      <td style="padding: 5px;">{{doc.matriculation_marks_gpa}}</td>
      <td style="padding: 5px;">Percentage/CGPA</td>
      <td style="padding: 5px;">{{doc.matriculation_percentage}}</td>
    </tr>
    {% if doc.intermediate_board_university %}
    <tr>
      <td colspan="4" style="padding: 5px;font-size: 25px;">
        <strong>Educational Qualification: Intermediate</strong>
      </td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Board/University</td>
      <td colspan="3" style="padding: 5px;">{{doc.intermediate_board_university}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">School/Institute</td>
      <td colspan="3" style="padding: 5px;">{{doc.intermediate_school_institute}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Passing Year</td>
      <td style="padding: 5px;">{{doc.intermediate_passing_year}}</td>
      <td  style="padding: 5px;">Roll Number</td>
      <td style="padding: 5px;">{{doc.intermediate_roll_number}}</td>
    </tr>
    <tr>
      <td style="padding: 5px;">Marks/CGPA</td>
      <td style="padding: 5px;">{{doc.intermediate_marks_gpa}}</td>
      <td style="padding: 5px;">Percentage</td>
      <td style="padding: 5px;">{{doc.intermediate_percentage}}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="4" height="25">&nbsp;</td>
    </tr>
    {% if doc.graduation_board_university %}
    <tr>
      <td colspan="4" style="padding: 5px;font-size: 25px;">
        <strong>Educational Qualification: Graduation</strong>
      </td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Board/University</td>
      <td colspan="3" style="padding: 5px;">{{doc.graduation_board_university}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">School/Institute</td>
      <td colspan="3" style="padding: 5px;">{{doc.graduation_school_institute}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Passing Year</td>
      <td style="padding: 5px;">{{doc.graduation_passing_year}}</td>
      <td  style="padding: 5px;">Roll Number</td>
      <td style="padding: 5px;">{{doc.graduation_roll_number}}</td>
    </tr>
    <tr>
      <td style="padding: 5px;">Marks/CGPA</td>
      <td style="padding: 5px;">{{doc.graduation_marks_gpa}}</td>
      <td style="padding: 5px;">Percentage</td>
      <td style="padding: 5px;">{{doc.graduation_percentage}}</td>
    </tr>
    {% endif %}
    {% if doc.higher_qualification_board_university %}
    <tr>
      <td colspan="4" style="padding: 5px;font-size: 25px;">
        <strong>Educational Qualification: Higher Qualification</strong>
      </td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Board/University</td>
      <td colspan="3" style="padding: 5px;">{{doc.higher_qualification_board_university}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">School/Institute</td>
      <td colspan="3" style="padding: 5px;">{{doc.higher_qualification_school_institute}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Passing Year</td>
      <td style="padding: 5px;">{{doc.higher_qualification_passing_year}}</td>
      <td  style="padding: 5px;">Roll Number</td>
      <td style="padding: 5px;">{{doc.higher_qualification_roll_number}}</td>
    </tr>
    <tr>
      <td style="padding: 5px;">Marks/CGPA</td>
      <td style="padding: 5px;">{{doc.higher_qualification_marks_gpa}}</td>
      <td style="padding: 5px;">Percentage</td>
      <td style="padding: 5px;">{{doc.higher_qualification_percentage}}</td>
    </tr>
    {% endif %}
    {% if doc.extra_qualification_board_university %}
    <tr>
      <td colspan="4" style="padding: 5px;font-size: 25px;">
        <strong>Educational Qualification: Extra Qualification</strong>
      </td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Board/University</td>
      <td colspan="3" style="padding: 5px;">{{doc.extra_qualification_board_university}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">School/Institute</td>
      <td colspan="3" style="padding: 5px;">{{doc.extra_qualification_school_institute}}</td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Passing Year</td>
      <td style="padding: 5px;">{{doc.extra_qualification_passing_year}}</td>
      <td  style="padding: 5px;">Roll Number</td>
      <td style="padding: 5px;">{{doc.extra_qualification_roll_number}}</td>
    </tr>
    <tr>
      <td style="padding: 5px;">Marks/CGPA</td>
      <td style="padding: 5px;">{{doc.extra_qualification_marks_gpa}}</td>
      <td style="padding: 5px;">Percentage</td>
      <td style="padding: 5px;">{{doc.extra_qualification_percentage}}</td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="4" height="25">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4" style="padding: 5px;font-size: 25px;">
        <strong>Payment Details</strong>
      </td>
    </tr>
    <tr>
      <td  style="padding: 5px;">Order ID</td>
      <td style="padding: 5px;">{{doc.order_id}}</td>
      <td  style="padding: 5px;">Payment Mode</td>
      <td style="padding: 5px;">{{doc.payment_mode}}</td>
    </tr>
    <tr>
      <td colspan="4" height="25">&nbsp;</td>
    </tr>
    <tr>
      <!-- <td colspan="2">&nbsp;</td> -->
      <td colspan="4" height="5" bgcolor="#243665"></td>
    </tr>
  </table>
  <div style="padding-top: 10px; display:flex; justify-content: center;">

    <button id="btn-print" style="margin: 0px 10px;" class="btn-sub" onclick="display()">Click to Print</button>
    <a class="btn-sub" id="btn-home" style="margin: 0px 10px; text-decoration: none;" href="/">Visit Home Page</a>
    {% if not doc.paid %}
    <a class="btn-sub" style="margin: 0px 10px; text-decoration: none;" href="/pay/{{doc.order_id}}">Pay Now</a>
    {% endif %}
  </div>
  
      <script>
         function display() {
            document.getElementById("btn-print").style.display = 'none';
            document.getElementById("btn-home").style.display = 'none';
            window.print();
         }
      </script>
</body>

</html>